<html lang="en-US"><head>
    <title>Spook!</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'vanilla-framework-version-4.27.0.min.css' %}>
    <link rel="apple-touch-icon" sizes="180x180" href={% static 'apple-touch-icon.png' %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static 'favicon-32x32.png' %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static 'favicon-32x32.png' %}>
    <link rel="manifest" href={% static 'site.webmanifest' %}>
    </head>

<body>

    <div class="row">
        <h2 class="u-align-text--center">Spook!</h2>
        <h4 class="u-align-text--center">Wake up a computer, remotely.</h4>
    </div>
    <div class="p-separator"></div>
    <div class="row">
        <table>
            <tr><th>Name</th><th>Mac Address</th><th>Action</th></tr>
            {% for computer in computers %}
                <tr>
                    <td>{{ computer.name }}</td>
                    <td>{{ computer.mac_address }}</td>
                    <td>
                        <form action="/send" method="get">{% csrf_token %}
                            <button class="p-button--positive" type="submit" name="mac_address"
                                    value="{{ computer.mac_address }}">Send</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        <table>
            <tr><th>Name</th><th>Mac Address</th><th>Action</th></tr>
            <tr>
                <form action="/add" method="get">
                    {% csrf_token %}
                    <td><input name="name" required></td>
                    <td><input name="mac_address" required></td>
                    <td><button class="p-button" type="submit">Add</button></td>
                </form>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr><th>Mac Address</th><th></th><th>Action</th></tr>
            <tr>
                <form action="/remove" method="get">
                    {% csrf_token %}
                    <td><input name="mac_address" required></td>
                    <td></td>
                    <td><button class="p-button--negative" type="submit">Remove</button></td>
                </form>
            </tr>
        </table>
    </div>

    {% comment %}
    <div class="row">
        <a class="p-button--link" href="/viewLog">View Log</a>
    </div>
    {% endcomment %}

</body>

</html>
